<aside class="login">
  {{#if user}}
    <div class="user profile">
      {{#if user.avatarMedium}}
      <img src="{{user.avatarMedium}}" class="avatar-medium">
      {{/if}}
      <a class="username" href="/profile">{{#if user.fullname}}{{user.fullname}}{{else}}{{user.name}}{{/if}}</a>
      <p class='profsub'>
        <a class='profsub' href='/profile-edit'>Edit Profile</a> |
        <a class='profsub' href='/logout'>Log out</a>
      </p>
    </div>
    <ul class="menu">
    </ul>
  {{else}}
    <div class="user profile">
      <img src="https://secure.gravatar.com/avatar/avatar.jpg?s=100&d=mm" class="avatar-medium">
      <a href='/signup'>Create Account</a> | <a href='/login'>Login</a>
    </div>
  {{/if}}
</aside>
