{{> header}}

{{#with profile}}
<div id="profile">
  {{#if showprofile.isSelf}}
  <a href="http://en.gravatar.com/emails/"
    title="edit avatar at gravatar.com">
  {{/if}}
  <img src="{{showprofile.avatarLarge}}"
    class="avatar-large" height=248 width=248 alt="">
  {{#if showprofile.isSelf}}
    </a>
  {{/if}}

  <h1>{{showprofile.name}}</h1>
  {{!-- We'll get to this after login/logout + profile sessions gets involved --}}
  {{#if showprofile.isSelf}}
    <p><a href=/profile-edit>Edit Profile</a> -
      <a href=/password>Change Password</a> -
      <a href="http://gravatar.com/emails/">Change Picture</a>
    </p>
  {{/if}}

  <table class="metadata">
  {{#each fields}}
    {{#if show}}
      <tr>
        <th>{{title}}</th>
        {{{showField this}}}
      </tr>
    {{/if}}
  {{/each}}
  </table>

  {{#if packages}}
    <h2>Packages by {{showprofile.name}}</h2>
    <ul>
      {{#each packages}}
      <li><a href="{{url}}">{{name}}</a> {{description}}
      </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if starred}}
    <h2>Packages Starred by {{showprofile.name}}</h2>
    <ul>
      {{#each starred}}
      <li><a href="{{url}}">{{name}}</a> {{description}}
      </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if profile}}
    <a href='/logout/?done=/profile/{{showprofile.name}}'>log out</a>
  {{/if}}
</div>
{{/with}}

{{> footer locals}}
<script src="/static/js/emObf.js" async="true"></script>
