{{> header}}

  {{#with package}}
  <div id="package">
    <header>
      <h1>{{name}}</h1>
{{!--       <%
      var starClass = (package.users && profile && package.users[profile.name]) ? "star star-starred" : "star" %>
 --}}      <a href="#" class="<%= starClass %>" title="click here to star/unstar this package" data-name="<%= package.name %>"></a>
    </header>

    {{#if deprecated}}
      <p class="deprecated">{{deprecated}}</p>
    {{/if}}

    {{#if description}}
      <p class="description">{{description}}</p>
    {{/if}}

    <pre class="sh"><code>npm install {{name}}</code></pre>

{{!--     {{#if (dlDetail == 'point')}}
      <span class="login-for-graphs">Want to see pretty graphs? <a href="/login?done=/package/<%= package.name %>">Log in now!</a></span>
      {{> download-counts {day: dlDay, week: dlWeek, month: dlMonth } }}
    {{else}}
      {{> download-graphs { month: dlMonth }}}
    {{/if}}
 --}}

    <table class="metadata">
      {{#if _npmUser}}
      <tr>
        <th>Last Published By</th>
        <td>
          <div class="user">
            <a class="username" href="/~<%= package._npmUser.name %>">
              {{#if _npmUser.avatar}}
              <img src="{{_npmUser.avatar}}" class="avatar">
              {{/if}}
              {{_npmUser.name}}
            </a>
          </div>
        </td>
      </tr>
      {{/if}}
      {{#if showMaintainers}}
      <tr>
        <th>Maintainers</th>
        <td>
        {{#each maintainers}}
          <div class="user">
          <a class="username" href="/~{{name}}">
            {{#if avatar}}
            <img src="{{avatar}}" class="avatar">
            {{/if}}{{name}}</a>
          </div>
        {{/each}}
        </td>
      </tr>
      {{/if}}
      <tr>
        <th>Version</th>
        <td>
          <b>
          {{version}}
          </b>
          {{#if fromNow}}
          last updated
          {{fromNow}}
          {{/if}}
        </td>
      </tr>
      {{#if license}}
      <tr>
        <th>License</th>
        <td>
            <a href="{{license.url}}">{{license.name}}</a>
        </td>
      </tr>
      {{/if}}
      {{#if keywords}}
      <tr>
        <th>Keywords</th>
        <td>{{{packageKeywords keywords}}}</td>
      </tr>
      {{/if}}
      {{#if repository}}
      <tr>
        <th>Repository</th>
        <td>{{{packageRepository repository}}}</td>
      </tr>
      {{/if}}
{{!--       <% if (typeof package.homepage === 'string') { %>
      <tr>
        <th>Homepage</th>
        <td>
          <a href="<%= encodeURI(package.homepage) %>"><%= package.homepage.replace(/</g, '&lt;') %></a>
        </td>
      </tr>
      <% } %> --}}
      {{#if bugs.url}}
      <tr>
        <th>Bugs</th>
        <td>
          <a href="{{bugs.url}}">{{bugs.url}}</a>
        </td>
      </tr>
      {{/if}}
      {{!-- <tr>
        <%
          var deps = Object.keys(package.dependencies || {})
          var l = deps.length
        %>
        <th>Dependencies<%= l > 5 ? ' (' + l + ')' : '' %></th>
        <td>
          <%
          if (l === 0) {
            %>None<%
          } else {
            var m = 200
            if (l > m) deps = deps.slice(0, m)
            deps.forEach(function(pkg, i) {
              if (i > 0) { %>, <% }
              %>
              <a href="/package/<%= pkg %>"><%= pkg %></a><%
            })
            if (l > m) {
              %>, and <%= l-m %> more<%
            }
          }
          %>
        </td>
      </tr> --}}
      {{!-- <%
      var dependents = package.dependents
      var l = dependents.length
      if (dependents && l) { %>
      <tr>
        <th>Dependents<%= l > 5 ? ' (' + l + ')' : '' %></th>
        <td>
        <%
        var l = dependents.length
        var max = 20
        if (l > max) {
          // get a random assortment each time.
          var dependents = dependents.sort(function (a, b) {
            return Math.random() * 2 - 1
          }).slice(0, max)
          dependents.push({
            url: '/browse/depended/' + package.name,
            name: '<br>and ' + (l-max) + ' more'
          })
        }
        dependents.forEach(function (d, i) {
          if (i > 0) { %>, <% }
          %><a href="<%= d.url %>"><%- d.name %></a><%
        })
        %>
        </td>
      </tr>
      <% } %> --}}

      {{!-- <% if (package.users) {
        var starredBy = package.starredBy
        var l = starredBy.length
      %>
      <tr>
        <th>Starred by<%= l > 5 ? ' (' + l + ')' : '' %></th>
        <td>
          <%
          var max = 20
          if (l > max) {
            starredBy = starredBy.sort(function (a, b) {
              return Math.random() * 2 - 1
            }).slice(0, max)
          }
          starredBy.forEach(function (user, i) {
            if (i > 0) { %>, <% }
            %><a href="/~<%= user %>"><%= user %></a><%
          })
          if (l > max) {
            %><br><a href="/browse/star/<%= package.name %>">and
            <%= (l-max) %> more</a><%
          }
          %>
        </td>
      </tr>
      <% } %> --}}
    </table>

    <div class="details">
      <ul class="toc">
        {{#if readme}}
        <li><a href="#readme">Read Me</a></li>
        {{/if}}
      </ul>

      {{#if readme}}
      <section id="readme">
      {{{readme}}}
      </section>
      {{/if}}
    </div>
  </div>
  {{/with}}

{{> footer}}
<script src="/static/js/stars.js" async="true"></script>
